.fa-react {
  margin-left: 0.8rem;
}

@media (prefers-reduced-motion: no-preference) {
  .fa-react {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar-items {
  background: linear-gradient(
    90deg,
    rgb(110, 94, 254) 0%,
    rgba(73, 63, 252, 1) 100%
  );
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.9rem;
}

.navbar-logo {
  justify-self: start;
  margin-left: 2rem;
}

.navbar-logo,
.fa-bars,
.fa-times {
  color: #fafafa;
  cursor: pointer;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 1rem;
  text-align: center;
  justify-content: end;
  align-items: center;
  list-style: none;
  width: 70vw;
}

.nav-links {
  color: #fafafa;
  text-decoration: none;
  padding: 0.8rem;
  font-weight: 500;
}

.nav-links:hover {
  border-bottom: 3px solid #db76a5;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .navbar-items {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    position: absolute;
    top: 7rem;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #6668f4;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 2.9rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 3.2rem;
  }
}
